{% extends 'base.html' %}
{% load static %}
(% load crispy_forms_tags %)

{% block header %}
    <header class="header">
       {% include 'navbar.html' %}
    </header>
{% endblock %}
{% block content2 %}

  <section class="form--steps" id="form">
      <div class="form--steps-instructions">
        <div class="form--steps-container">
          <h3>Profile</h3>

        </div>
      </div>
<div class="container">
    <div class="profile-container">
  <h3>{{ user.first_name }} {{ user.last_name }}</h3>
          <h3>Email: {{ user.email }}</h3><br>
        <h1> Przekazane dary:</h1><br>



        {% for donation in donations %}

  <table>
    <tr>
      <td>Nazwa organizacji:</td>
      <td>{{ donation.institution.name }}</td>
    </tr>
    <tr>
      <td>Ilość przekazanych worków:</td>
      <td>{{ donation.quantity }}</td>
    </tr>
    <tr>
      <td>Termin odebrania:</td>
      <td>{{ donation.pick_up_date }}, {{ donation.pick_up_time }}</td>
    </tr>
    <tr>
        <form method="POST">
            {% csrf_token %}
      <td>Odebrane:</td>
      <td>{{ form.is_taken }} </td>
        <input type="submit" value="Wyślij">
              </form>

      <br>
  </table>
        {% endfor %}

        </div>
    </div>

      </div>
    </section>

{% endblock %}