{% extends 'base.html' %}
{% load static %}
(% load crispy_forms_tags %)

{% block header %}
    <header class="header">
       {% include 'navbar.html' %}
    </header>
{% endblock %}
{% block content2 %}

  <section class="form--steps" id="form">
      <div class="form--steps-instructions">
        <div class="form--steps-container">
          <h3>Profile</h3>

        </div>
      </div>
<div class="container">
    <ul>
        <li><h3><p>Imię: {{ user.first_name }}</p> </h3></li>
    <li><h3><p> Nazwisko: {{ user.last_name }}</p> </h3></li>
    <li><h3><p> Email: {{ user.email }} </p></h3></li>
    <li>
        <h3><p> Przekazane dary:<br>
        {% for donation in donations %}
        <li>Nazwa organizacji: {{ donation.institution.name }}</li>
                <li>Ilość przekazanych worków: {{ donation.quantity }}</li>
                <li>Termin odebrania: {{ donation.pick_up_date }}, {{ donation.pick_up_time }}</li>
        {% endfor %}
    </h3></p></li>
        </ul>
</div>

      </div>
    </section>

    <script src="{% static 'js/app.js' %}"></script>

{% endblock %}