{% extends 'base.html' %}
{% load static %}

{% block header %}
    <header class="header">
       {% include 'navbar.html' %}
    </header>
{% endblock %}
{% block content2 %}

  <section class="form--steps" id="form">
      <div class="form--steps-instructions">
        <div class="form--steps-container">
          <h3>Profile</h3>

        </div>
      </div>
    <div class="section1">
      <form method="POST" class="section1">
        {% csrf_token %}
          {{ form.as_p}}
      </form>
    </div>

    </section>

{% endblock %}